.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/**/node_modules
/packages/**/dist
/apps/**/dist
/apps/**/.turbo
/packages/**/.turbo
/**/tsconfig.tsbuildinfo
/**/.env
/packages/**/.next
/apps/**/.next

/**/.DS_STORE